{% extends "sop/base_sop.html" %}
{% load static %}
{% block content %}
{% include "sop/tl/00_cover.html" %}
{% include "sop/tl/00_toc.html" %}
{% include "sop/tl/01_roles.html" %}
{% include "sop/tl/02_fleet.html" %}
{% include "sop/tl/03_pm_procedures.html" %}
{% include "sop/tl/04_repair.html" %}
{% include "sop/tl/05_contractors.html" %}
{% include "sop/tl/06_training.html" %}
{% include "sop/tl/07_kpi.html" %}
{% include "sop/tl/09_safety.html" %}
{% include "sop/tl/appendices.html" %}
{% endblock %}
