{% extends "sop/base_sop.html" %}
{% load static %}
{% block content %}
{% include "sop/en/00_cover.html" %}
{% include "sop/en/00_toc.html" %}
{% include "sop/en/01_roles.html" %}
{% include "sop/en/02_fleet.html" %}
{% include "sop/en/03_pm_procedures.html" %}
{% include "sop/en/04_repair.html" %}
{% include "sop/en/05_contractors.html" %}
{% include "sop/en/06_training.html" %}
{% include "sop/en/07_kpi.html" %}
{% include "sop/en/09_safety.html" %}
{% include "sop/en/appendices.html" %}
{% endblock %}
