<div class="toc-page">
<h2>Talaan ng mga Nilalaman</h2>
<ul class="toc-list">
    <li class="toc-l1"><a href="#vol1">Bolyum 1 &mdash; Administrasyon ng Sistema</a></li>
    <li class="toc-l2"><a href="#ch1">Kabanata 1: Mga Tungkulin at Access Matrix</a></li>
    <li class="toc-l2"><a href="#ch2">Kabanata 2: Siklo ng Buhay ng User Account</a></li>
    <li class="toc-l2"><a href="#ch3">Kabanata 3: Pag-navigate sa Sistema at UI Reference</a></li>

    <li class="toc-l1"><a href="#vol2">Bolyum 2 &mdash; Pamamahala ng Fleet Asset</a></li>
    <li class="toc-l2"><a href="#ch4">Kabanata 4: Pagpaparehistro ng Trak at Dokumentasyon</a></li>
    <li class="toc-l2"><a href="#ch5">Kabanata 5: Pamamahala ng Estado ng Fleet</a></li>

    <li class="toc-l1"><a href="#vol3">Bolyum 3 &mdash; Preventive Maintenance</a></li>
    <li class="toc-l2"><a href="#ch6">Kabanata 6: Pag-iiskedyul ng PM &mdash; Mga Uri ng Interval</a></li>
    <li class="toc-l2"><a href="#ch7">Kabanata 7: Mga Kategorya at Template ng PM Task</a></li>
    <li class="toc-l2"><a href="#ch8">Kabanata 8: Step-by-Step na Pamamaraan ng PM</a></li>
    <li class="toc-l3"><a href="#s8-1">8.1 &mdash; Pagpalit ng Langis at Oil Filter</a></li>
    <li class="toc-l3"><a href="#s8-2">8.2 &mdash; Coolant System</a></li>
    <li class="toc-l3"><a href="#s8-3">8.3 &mdash; Radiator at mga Hose</a></li>
    <li class="toc-l3"><a href="#s8-4">8.4 &mdash; Fan Belt at Tensioner</a></li>
    <li class="toc-l3"><a href="#s8-5">8.5 &mdash; Inspeksyon ng Brake Lining</a></li>
    <li class="toc-l3"><a href="#s8-6">8.6 &mdash; Brake Drum / Disc</a></li>
    <li class="toc-l3"><a href="#s8-7">8.7 &mdash; Air Brake System</a></li>
    <li class="toc-l3"><a href="#s8-8">8.8 &mdash; Kondisyon ng Gulong</a></li>
    <li class="toc-l3"><a href="#s8-9">8.9 &mdash; Lalim ng Tread at Presyon</a></li>
    <li class="toc-l3"><a href="#s8-10">8.10 &mdash; Overfill Prevention System</a></li>
    <li class="toc-l3"><a href="#s8-11">8.11 &mdash; Manlid at mga Gasket</a></li>
    <li class="toc-l3"><a href="#s8-12">8.12 &mdash; API Adapters at Camlock Couplings</a></li>
    <li class="toc-l3"><a href="#s8-13">8.13 &mdash; Vapor Recovery System</a></li>
    <li class="toc-l3"><a href="#s8-14">8.14 &mdash; Grounding at Static Discharge</a></li>
    <li class="toc-l3"><a href="#s8-15">8.15 &mdash; Product Piping at mga Valve</a></li>
    <li class="toc-l3"><a href="#s8-16">8.16 &mdash; Transfer Hoses at Couplings</a></li>
    <li class="toc-l3"><a href="#s8-17">8.17 &mdash; Kagamitang Pangkaligtasan</a></li>
    <li class="toc-l3"><a href="#s8-18">8.18 &mdash; Baterya at Alternator</a></li>
    <li class="toc-l3"><a href="#s8-19">8.19 &mdash; Starter at mga Wiring</a></li>
    <li class="toc-l3"><a href="#s8-20">8.20 &mdash; Mga Ilaw</a></li>
    <li class="toc-l3"><a href="#s8-21">8.21 &mdash; Compliance at Regulatoryo</a></li>
    <li class="toc-l3"><a href="#s8-22">8.22 &mdash; Drivetrain</a></li>
    <li class="toc-l3"><a href="#s8-23">8.23 &mdash; Water Brake System</a></li>
    <li class="toc-l3"><a href="#s8-24">8.24 &mdash; Transmission at Clutch (incl. Clutch Booster)</a></li>
    <li class="toc-l3"><a href="#s8-25">8.25 &mdash; HVAC System</a></li>
    <li class="toc-l3"><a href="#s8-26">8.26 &mdash; Hydraulics</a></li>
    <li class="toc-l3"><a href="#s8-27">8.27 &mdash; Suspension</a></li>
    <li class="toc-l3"><a href="#s8-28">8.28 &mdash; Exhaust System</a></li>
    <li class="toc-l3"><a href="#s8-29">8.29 &mdash; Body at Chassis</a></li>
    <li class="toc-l3"><a href="#s8-30">8.30 &mdash; Fuel System</a></li>
    <li class="toc-l3"><a href="#s8-31">8.31 &mdash; Steering System</a></li>
    <li class="toc-l3"><a href="#s8-32">8.32 &mdash; Cooling System (Aux)</a></li>
    <li class="toc-l3"><a href="#s8-33">8.33 &mdash; Air Intake System</a></li>
    <li class="toc-l3"><a href="#s8-34">8.34 &mdash; Miscellaneous</a></li>
    <li class="toc-l2"><a href="#ch9">Kabanata 9: Dokumentasyon ng PM at Record-Keeping</a></li>

    <li class="toc-l1"><a href="#vol4">Bolyum 4 &mdash; Pag-aayos (Repair Operations)</a></li>
    <li class="toc-l2"><a href="#ch10">Kabanata 10: Paunang Assessment at Triage</a></li>
    <li class="toc-l2"><a href="#ch11">Kabanata 11: Paggawa ng Job Order at Assignment</a></li>
    <li class="toc-l2"><a href="#ch12">Kabanata 12: Paggawa at Pagtatala ng Parts</a></li>
    <li class="toc-l2"><a href="#ch13">Kabanata 13: Quality Control at Pre-Return Inspection</a></li>
    <li class="toc-l2"><a href="#ch14">Kabanata 14: Pagsasara ng Job Order at Service Logging</a></li>

    <li class="toc-l1"><a href="#vol5">Bolyum 5 &mdash; Pamamahala ng Kontratista</a></li>
    <li class="toc-l2"><a href="#ch15">Kabanata 15: Pag-onboard ng Kontratista at Skills Registry</a></li>
    <li class="toc-l2"><a href="#ch16">Kabanata 16: Pagpapatupad ng Serbisyo ng Kontratista</a></li>
    <li class="toc-l2"><a href="#ch17">Kabanata 17: Pagsusuri ng Pagganap</a></li>

    <li class="toc-l1"><a href="#vol6">Bolyum 6 &mdash; Pagsasanay at OJT</a></li>
    <li class="toc-l2"><a href="#ch18">Kabanata 18: Pag-onboard ng Trainee at System Access</a></li>
    <li class="toc-l2"><a href="#ch19">Kabanata 19: Araw-araw na Attendance Procedure</a></li>
    <li class="toc-l2"><a href="#ch20">Kabanata 20: Pagmamarka ng Task at Skills Assessment</a></li>
    <li class="toc-l2"><a href="#ch21">Kabanata 21: Lingguhang Review at Progress Tracking</a></li>

    <li class="toc-l1"><a href="#vol7">Bolyum 7 &mdash; Pagganap at Analytics</a></li>
    <li class="toc-l2"><a href="#ch22">Kabanata 22: Mechanic KPI Reports</a></li>
    <li class="toc-l2"><a href="#ch23">Kabanata 23: Interpretasyon ng Predictive Analytics</a></li>

    <li class="toc-l1"><a href="#vol8">Bolyum 8 &mdash; Kaligtasan at Compliance</a></li>
    <li class="toc-l2"><a href="#ch24">Kabanata 24: Pangkalahatang Kaligtasan sa Workshop at PPE</a></li>
    <li class="toc-l2"><a href="#ch25">Kabanata 25: Pamamaraan sa Emergency Response</a></li>
    <li class="toc-l2"><a href="#ch26">Kabanata 26: HAZMAT at Dangerous Goods Compliance</a></li>

    <li class="toc-l1"><a href="#appendices">Mga Apendise</a></li>
    <li class="toc-l2"><a href="#appA">Apendiks A &mdash; Kumpletong 154-Task PM Checklist</a></li>
    <li class="toc-l2"><a href="#appB">Apendiks B &mdash; Mga Template ng Form</a></li>
    <li class="toc-l2"><a href="#appC">Apendiks C &mdash; Mabilisang Troubleshooting Reference</a></li>
    <li class="toc-l2"><a href="#appD">Apendiks D &mdash; Glossary ng mga Termino</a></li>
</ul>
</div>
